body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-roboto: Roboto;
    --font-inter: Inter;
    --font-dm-sans: "DM Sans";
    --font-delius-unicase: "Delius Unicase";
  
    /* font sizes */
    --font-size-11xl: 1.88rem;
    --font-size-5xl: 1.5rem;
    --font-size-lgi: 1.19rem;
    --font-size-7xl: 1.63rem;
    --font-size-2xl: 1.31rem;
    --font-size-9xl: 1.75rem;
    --font-size-3xl: 1.38rem;
    --font-size-4xl: 1.44rem;
    --font-size-16xl: 2.19rem;
    --font-size-10xl: 1.81rem;
    --font-size-17xl-4: 2.28rem;
  
    /* Colors */
    --color-white: #fff;
    --color-mediumblue: #483eff;
    --color-black: #000;
    --color-darkslateblue-100: #143565;
    --color-darkslateblue-200: #04285a;
    --color-lightblue: #bce0f6;
    --color-violet: #d288ff;
    --color-blueviolet: #734cf2;
    --color-cornflowerblue: #929dff;
    --color-lavender: #e4d8ff;
    --color-gainsboro: #d9d9d9;
    --color-mediumslateblue: #6f6af7;
  
    /* Gaps */
    --gap-143xl: 10.13rem;
    --gap-118xl: 8.56rem;
    --gap-142xl: 10.06rem;
    --gap-43xl: 3.88rem;
    --gap-137xl: 9.75rem;
    --gap-38xl: 3.56rem;
    --gap-23xl: 2.63rem;
    --gap-63xl: 5.13rem;
    --gap-40xl: 3.69rem;
    --gap-3xl: 1.38rem;
    --gap-30xl: 3.06rem;
    --gap-xl: 1.25rem;
    --gap-39xl: 3.63rem;
    --gap-27xl: 2.88rem;
  
    /* Paddings */
    --padding-base: 1rem;
    --padding-xl: 1.25rem;
    --padding-8xl: 1.69rem;
    --padding-11xl: 1.88rem;
    --padding-7xl: 1.63rem;
    --padding-34xl: 3.31rem;
    --padding-17xl: 2.25rem;
    --padding-3xl: 1.38rem;
    --padding-9xl: 1.75rem;
    --padding-5xs: 0.5rem;
    --padding-12xs: 0.06rem;
    --padding-10xs: 0.19rem;
    --padding-2xl: 1.31rem;
    --padding-19xl: 2.38rem;
    --padding-13xl: 2rem;
    --padding-10xl: 1.81rem;
    --padding-8xs: 0.31rem;
  
    /* Border radiuses */
    --br-2xl: 21px;
    --br-lgi: 19px;
    --br-4xs: 9px;
    --br-3xl: 22px;
    --br-2xs: 11px;
    --br-xl: 20px;
    --br-44xl: 63px;
  }
  